# 仅影响 btc-shopflow-monorepo 作为构建上下文
.git
.gitignore
.DS_Store
**/.turbo
**/.cache
**/.vite
**/dist
**/build
**/coverage
**/test-results
**/.pnpm-store
**/node_modules
**/*.log
**/*.tsbuildinfo

# IDE
.vscode
.idea


