/**
 * 盒子样式设置样式
 */

.box-style-settings {
  .box-style {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    margin-top: 20px;
    background-color: var(--el-fill-color-lighter);
    border-radius: 7px;

    .button {
      width: calc(50% - 3px);
      height: 34px;
      font-size: 14px;
      line-height: 34px;
      text-align: center;
      cursor: pointer;
      user-select: none;
      border-radius: 6px;
      transition: all 0.2s !important;
      color: var(--el-text-color-regular);
      background-color: transparent;

      &.is-active {
        color: var(--el-text-color-primary);
        background-color: var(--el-bg-color);
      }

      &:hover:not(.is-active) {
        color: var(--el-text-color-primary);
        background-color: var(--el-fill-color);
      }
    }
  }
}

.dark {
  .box-style-settings {
    .box-style {
      .button {
        &.is-active {
          color: #fff !important;
          background-color: var(--el-fill-color-darker);
        }

        &:hover:not(.is-active) {
          background-color: var(--el-fill-color);
        }
      }
    }
  }
}

