.profile-page {
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 49px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

// 响应式设计
@media (max-width: 768px) {
  .profile-page {
    padding: 5px;
  }
}

